<p style="color: green"><%= notice %></p>

<%= render @user_badge %>

<div>
  <%= link_to "Edit this user badge", edit_user_badge_path(@user_badge) %> |
  <%= link_to "Back to user badges", user_badges_path %>

  <%= button_to "Destroy this user badge", @user_badge, method: :delete %>
</div>
