<% habit_feedback = validation_feedback_data(habit) %>

<%= form_with(model: habit, data: habit_feedback) do |form| %>
  <% if habit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(habit.errors.count, "error") %> prohibited this habit from being saved:</h2>
      <ul>
        <% habit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "shared/validation_toast", message: habit_feedback[:validation_feedback_notification_message_value] %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.textarea :title,
                      class: validation_field_classes(habit, :title, "textarea"),
                      data: validation_field_data(:title) %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description,
                      class: validation_field_classes(habit, :description, "textarea"),
                      data: validation_field_data(:description) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
